<!--<div class="sale-tag" *ngIf="product.price.percentage > 0">-->
<!--$$$-->
<!--</div>-->
<button class="subscribe-button" type="button" (click)="onClick_subscribeButton($event)">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i><br />
  <span>Notify me</span> <br />
  <small>when price changes</small>
</button>

<div [ngClass]="{'not-on-sale': product.price.percentage <= 0}">
  <img class="product-image" [src]="product.image" />



  <div class="left-info-panel">
    <!--<div><i class="fa fa-eye"></i> 22</div>-->
    <!--<div><i class="fa fa-hand-pointer-o"></i> 7</div>-->
    <a class="more-info" [routerLink]="['/product', product.slug]">More Info</a>
  </div>


  <div class="right-info-panel">


    <div class="price">
    <span class="original" *ngIf="product.price.percentage > 0">
      ${{product.price.original | number:'1.2-2'}}
    </span>
      ${{product.price.discount | number:'1.2-2'}}
    </div>
    <a class="buy-now" target="_blank" [routerLink]="['/buy', product._id]">
      <div><i class="fa fa-shopping-cart"></i>Buy Now</div>
      <div class="text-right" style="font-size:10px">New: ${{product.price.discount | number:'1.2-2'}} | Used: $9.04 </div>
    </a>
  </div>

</div>
