
<button class="subscribe-button" type="button" (click)="onClick_subscribeButton($event)">
  <i class="fa fa-exclamation-circle" aria-hidden="true"></i><br />
  <span>Notify me</span> <br />
  <small>when price changes</small>
</button>

<div>
  <img class="product-image" [src]="product.image" />

  <div class="original-price"
       *ngIf="
       ((product.price.new > 0) && product.price.original > product.price.new) ||
       ((product.price.discount > 0) && product.price.original > product.price.discount) ||
       ((product.price.used > 0) && product.price.original > product.price.used)
       ">
    ${{product.price.original | number:'1.2-2'}}
  </div>


  <div class="left-info-panel">
    <!--<div><i class="fa fa-eye"></i> 22</div>-->
    <!--<div><i class="fa fa-hand-pointer-o"></i> 7</div>-->
    <a class="more-info" [routerLink]="['/product', product.slug]">More Info</a>
  </div>


  <div class="right-info-panel">
    <a class="buy-now text-center" target="_blank" [routerLink]="['/buy', product._id]">
      <span>
        <span class="price">${{product.price.new || product.price.discount | number:'1.2-2'}}</span>
        <span>
          <i class="fa fa-shopping-cart"></i>Buy New
          <span *ngIf="product.total.new">({{product.total.new}})</span>
        </span>
      </span>
      <span *ngIf="product.price.used > 0">
        <span class="price used">${{product.price.used | number:'1.2-2'}}</span>
        <span>
          <i class="fa fa-shopping-cart"></i>Buy Used
          <span *ngIf="product.total.used">({{product.total.used}})</span>
        </span>
      </span>
    </a>
  </div>

</div>

