@import "../../../variables";


@include keyframes(gloss) {
  0% { left: -210%; }
  60% { left: -30%; }
}

@mixin gloss-animation() {
  overflow:hidden;
  &:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    transform: rotate(30deg);
    top: -170%;

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );

    @include animation('gloss 3s infinite');
  }
}


:host {
  display:flex;
  width: 100%;
  height: 292px;
  overflow:hidden;
  position: relative;
  align-items: center;
  justify-content: center;

  .original-price{
    position:relative;
    font-size: 40px;
    text-align: center;
    color: red;
    z-index: 0;
    text-decoration: line-through;
    transform: rotate(-30deg);
    text-shadow: 0px 0px 7px black;
  }

  .subscribe-button {
    background: $rgba-secondary-1-0 linear-gradient(to top, $rgba-secondary-1-0, $rgba-secondary-1-4);
    color: white;
    display: block;
    font-size: 12px;
    font-weight:bold;
    padding: 28px 20px 0px 20px;
    position: absolute;
    left: -50px;
    text-align: center;
    top: -25px;
    transform: rotate(-45deg);
    z-index: 9;
    border: none;
    box-shadow: 0px 0px 5px black;

    &:hover {
      box-shadow: 0px 0px 30px black;
    }

    small {
      font-weight:normal;
    }
  }

  .product-image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
  }

  .left-info-panel {
    position:absolute;
    left:0;
    bottom:0;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 10px;
  }

  .right-info-panel {
    position:absolute;
    right:0;
    bottom:0;

    .price {

      font-size: 30px;
      text-align:center;
      color: $rgba-complement-4;
      text-shadow: 0px 0px 7px black;
      font-weight: bold;

      .original {
        font-size: 40px;
        text-align: center;
        color: red;
        z-index: 0;
        text-decoration: line-through;
        position: absolute;
        right: 100%;
        top: -10px;
        transform: rotate(-30deg);
      }
    }


    .buy-now{
      background: $rgba-primary-0 linear-gradient(to bottom, $rgba-primary-0, $rgba-primary-4);
      border-radius: 10px 0 0 0;
      color: #ffffff;
      font-size: 14px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      position:relative;
      z-index:1;
      box-shadow: 0px 0px 10px white;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;

      @include gloss-animation;

    }
  }
}
