<ng-template #content>
  <!--<img [src]="product.image" />-->
  <div>
    <form action="#" method="post" (submit)="onSubmit_form($event)">
      <div class="header">
        <p>Get notified when price changes</p>
      </div>
      <div class="description">
        <p>Put in the email address you want to be notified at when the $$$ of <b>{{product.title}}</b> changes!</p>
      </div>
      <div class="input">
        <img class="product-image" [src]="product.image" />
        <input [formControl]="emailFormControl" type="text" class="button" id="email" name="email" placeholder="NAME@EXAMPLE.COM">
        <input type="submit" class="button" id="submit" value="SIGN UP">
      </div>
      <div class="form-control-feedback"
           *ngIf="emailFormControl.errors && (emailFormControl.dirty || emailFormControl.touched) && formSubmitted">
        <p *ngIf="emailFormControl.errors.required || emailFormControl.errors.pattern">A proper email is required</p>
      </div>
    </form>
  </div>
</ng-template>
