$rgba-primary-0: rgba(131, 52,217,1);	// Main Primary color */
$rgba-primary-1: rgba(181,130,235,1);
$rgba-primary-2: rgba(154, 87,225,1);
$rgba-primary-3: rgba(108, 16,208,1);
$rgba-primary-4: rgba( 82,  9,161,1);

$rgba-secondary-1-0: rgba(220, 39,192,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(237,122,219,1);
$rgba-secondary-1-2: rgba(228, 76,204,1);
$rgba-secondary-1-3: rgba(212,  0,179,1);
$rgba-secondary-1-4: rgba(168,  0,142,1);

$rgba-secondary-2-0: rgba( 75, 64,219,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(145,138,236,1);
$rgba-secondary-2-2: rgba(107, 97,227,1);
$rgba-secondary-2-3: rgba( 42, 28,211,1);
$rgba-secondary-2-4: rgba( 27, 16,166,1);

$rgba-tertiary-1-0: rgba(220, 39,192,1);	// Main tertiary color (1) */
$rgba-tertiary-1-1: rgba(237,122,219,1);
$rgba-tertiary-1-2: rgba(228, 76,204,1);
$rgba-tertiary-1-3: rgba(212,  0,179,1);
$rgba-tertiary-1-4: rgba(168,  0,142,1);

$rgba-tertiary-2-0: rgba(206,250, 44,1);	// Main tertiary color (2) */
$rgba-tertiary-2-1: rgba(226,252,130,1);
$rgba-tertiary-2-2: rgba(215,251, 84,1);
$rgba-tertiary-2-3: rgba(196,249,  0,1);
$rgba-tertiary-2-4: rgba(180,229,  0,1);

$rgba-complement-0: rgba(255,241, 45,1);	// Main Complement color */
$rgba-complement-1: rgba(255,247,132,1);
$rgba-complement-2: rgba(255,244, 85,1);
$rgba-complement-3: rgba(255,238,  0,1);
$rgba-complement-4: rgba(239,223,  0,1);

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
