<ngx-json-ld>
  <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Executive Anvil",
  "image": [
    "https://example.com/photos/1x1/photo.jpg",
    "https://example.com/photos/4x3/photo.jpg",
    "https://example.com/photos/16x9/photo.jpg"
   ],
  "description": "Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height.",
  "mpn": "925872",
  "brand": {
    "@type": "Thing",
    "name": "ACME"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.4",
    "reviewCount": "89"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "USD",
    "price": "119.99",
    "priceValidUntil": "2020-11-05",
    "itemCondition": "http://schema.org/UsedCondition",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Executive Objects"
    }
  }
}
</script>
</ngx-json-ld>

<app-navbar></app-navbar>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li>{{(product$ | async)?.title}}</li>
      </ul>
    </div>

    <div class="col-md-12 text-center">
      <ng-adsense [adClient]="'ca-pub-7276431180073967'"
                  [adSlot]="8561348741"></ng-adsense>
    </div>
  </div>

  <div class="row" id="productMain">
    <div class="col-sm-6 product-info" *ngIf="(product$ | async) as product">
      <h3 class="text-center">{{product.title}}</h3>
      <div class="description">
        <h4>Description</h4>
        {{product.description}}
      </div>
      <div class="description">
        <h4>Features</h4>
        {{product.feature}}
      </div>
    </div>
    <div class="col-sm-6">

      <div class="product" *ngIf="(product$ | async) as product">
        <img class="product-image" [src]="product.image" />

        <div class="center-panel" *ngIf="renderPercentage(product) > 0">
          <div class="percentage">{{renderPercentage(product)}}% off</div>
        </div>

        <a class="buy-now text-center" target="_blank" [routerLink]="['/buy', product._id]">
          <span>
            <span class="price">${{product.price.new || product.price.discount | number:'1.2-2'}}</span>
            <span>
              <i class="fa fa-shopping-cart"></i> Buy New
              <span *ngIf="product.total.new">({{product.total.new}})</span>
            </span>
          </span>
          <span *ngIf="product.price.used > 0">
            <span class="price used">${{product.price.used | number:'1.2-2'}}</span>
            <span>
              <i class="fa fa-shopping-cart"></i> Buy Used
              <span *ngIf="product.total.used">({{product.total.used}})</span>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="row same-height-row" style="margin-top:40px;">
    <h4>Similar Products</h4>
    <div class="col-md-4 col-sm-6" *ngFor="let product of randomProductList$ | async">
      <app-product-card [product]="product" style="margin-bottom: 20px"></app-product-card>
    </div>

  </div>

</div>
