<app-navbar></app-navbar>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a routerLink="/">Home</a></li>
        <li>{{(product$ | async)?.title}}</li>
      </ul>
    </div>

    <div class="col-md-12 text-center">
      <ng-adsense [adClient]="'ca-pub-7276431180073967'"
                  [adSlot]="8561348741"></ng-adsense>
    </div>
  </div>

  <div class="row" id="productMain">
    <div class="col-sm-6">

      <div class="product" *ngIf="(product$ | async) as product">
        <img class="product-image" [src]="product.image" />

        <span class="original-price" *ngIf="product.price.percentage > 0">
          ${{product.price.original}}
        </span>

        <a class="buy-now" target="_blank" [routerLink]="['/buy', product._id]">
          <i class="fa fa-shopping-cart"></i>Order Now for ${{product.price.discount}}
        </a>
      </div>
    </div>
    <div class="col-sm-6 product-info" *ngIf="(product$ | async) as product">
      <h3 class="text-center">{{product.title}}</h3>
      <div class="description">
        {{product.description}}
      </div>

      <p class="text-center buttons">

      </p>
    </div>
  </div>

  <div class="row same-height-row" style="margin-top:40px;">
    <h4>More Products</h4>
    <div class="col-md-4 col-sm-6" *ngFor="let product of randomProductList$ | async">
      <app-product-card [product]="product" style="margin-bottom: 20px"></app-product-card>
    </div>

  </div>

</div>
