@import "../variables";


.countdown {
  text-align:center;
  margin-bottom: 20px;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

.product {
  display:flex;
  width: 100%;
  height: 292px;
  overflow:hidden;
  position: relative;
  align-items: center;
  justify-content: center;

  .buy-now{
    background: $rgba-primary-0 linear-gradient(to bottom, $rgba-primary-0, $rgba-primary-4);
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    text-decoration: none;
    display: block;
    z-index:1;
    box-shadow: 0px 0px 30px white;
    position:absolute;
    bottom: 0;
    text-align:center;
  }

  .original-price{
    font-size: 40px;
    text-align: center;
    color: red;
    z-index: 0;
    text-decoration: line-through;
    transform: rotate(-30deg);
    text-shadow: 0px 0px 7px black;
  }

  .sale-tag {
    background: $rgba-complement-0;
    //background: #8434d9 linear-gradient(to top, #8434d9, #450c63);
    color: $rgba-complement-0;
    display: block;
    font-size: 12px;
    padding: 22px 50px 3px 50px;
    position: absolute;
    left: -47px;
    text-align: center;
    top: -10px;
    transform: rotate(-45deg);
    z-index: 9;
  }

  .product-image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
  }

  .left-info-panel {
    position:absolute;
    left:0;
    bottom:0;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 10px;
  }

  .right-info-panel {
    position:absolute;
    right:0;
    bottom:0;

    .price {

      font-size: 30px;
      text-align:center;
      color: $rgba-complement-4;
      text-shadow: 0px 0px 7px black;
      font-weight: bold;
    }
  }
}
