@import "../variables";

@include keyframes(gloss) {
  0% { left: -210%; }
  60% { left: -30%; }
}

@mixin gloss-animation() {
  overflow:hidden;
  &:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    transform: rotate(30deg);
    top: -170%;

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );

    @include animation('gloss 3s infinite');
  }
}

.product {
  display:flex;
  width: 100%;
  height: 292px;
  overflow:hidden;
  position: relative;
  align-items: center;
  justify-content: center;


  .buy-now{
    background: $rgba-primary-0 linear-gradient(to bottom, $rgba-primary-0, $rgba-primary-4);
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    text-decoration: none;
    z-index:1;
    box-shadow: 0px 0px 30px white;
    position:absolute;
    bottom: 0;
    text-align:center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    @include gloss-animation;
  }

  .original-price{
    font-size: 40px;
    text-align: center;
    color: red;
    z-index: 0;
    text-decoration: line-through;
    transform: rotate(-30deg);
    text-shadow: 0px 0px 7px black;
  }

  .sale-tag {
    background: $rgba-complement-0;
    //background: #8434d9 linear-gradient(to top, #8434d9, #450c63);
    color: $rgba-complement-0;
    display: block;
    font-size: 12px;
    padding: 22px 50px 3px 50px;
    position: absolute;
    left: -47px;
    text-align: center;
    top: -10px;
    transform: rotate(-45deg);
    z-index: 9;
  }

  .product-image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
  }

  .left-info-panel {
    position:absolute;
    left:0;
    bottom:0;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 10px;
  }

  .right-info-panel {
    position:absolute;
    right:0;
    bottom:0;

    .price {

      font-size: 30px;
      text-align:center;
      color: $rgba-complement-4;
      text-shadow: 0px 0px 7px black;
      font-weight: bold;
    }
  }
}
