<section class="container-fluid" >
  <div class="row countdown" *ngIf="(countdown$ | async) as countdown">
    <div class="col-xs-12 text-center">
      <h5>Refreshing prices in...</h5>


      <div class="clock">
        <div class="unit">
          <span class="hours">{{countdown.hour}}</span>
          <div class="smalltext">Hours</div>
        </div>
        <div class="unit">
          <span class="minutes">{{countdown.minute}}</span>
          <div class="smalltext">Minutes</div>
        </div>
        <div class="unit">
          <span class="seconds">{{countdown.second}}</span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>
  </div>
</section>
