$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "assets/css/bootstrap.css";
@import "assets/css/animate.min.css";
@import "assets/css/owl.carousel.css";
@import "assets/css/owl.theme.css";
@import "assets/css/style.default.css";

/* You can add global styles to this file, and also import other style files */

.ribbon {
  padding-left: 0;

  .theribbon{
    width: 90px;
    text-align:center;
    padding: 6px 0 6px 0;
    margin: 30px 10px 10px 0;

    &:after {
      left: 0;
      top:0;
      border: none;
    }
  }

  &.sale{
    .theribbon{
      background-color: #FF00FF;
    }
  }
}


.btn-cta {
  background-color: #FF00FF;
  color: white;

  &:hover {
    color: #731073;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

  .price {
    font-weight:bold;
    font-size: 18px;
  }
}


