<!-- *** TOPBAR ***
_________________________________________________________ -->
<app-top></app-top>


<app-navbar></app-navbar>


<div id="all">

  <div id="content">
    <div class="container">

      <div class="col-md-12">
        <ul class="breadcrumb">
          <li>Home</li>
        </ul>
      </div>

      <div class="col-md-3">
        <!-- *** MENUS AND FILTERS ***
<!--_________________________________________________________ &ndash;&gt;-->
        <!--<div class="panel panel-default sidebar-menu">-->

          <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Categories</h3>-->
          <!--</div>-->

          <!--<div class="panel-body">-->
            <!--<ul class="nav nav-pills nav-stacked category-menu">-->
              <!--<li>-->
                <!--<a href="category.html">Men <span class="badge pull-right">42</span></a>-->
                <!--<ul>-->
                  <!--<li><a href="category.html">T-shirts</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Shirts</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Pants</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Accessories</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li class="active">-->
                <!--<a href="category.html">Ladies  <span class="badge pull-right">123</span></a>-->
                <!--<ul>-->
                  <!--<li><a href="category.html">T-shirts</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Skirts</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Pants</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Accessories</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="category.html">Kids  <span class="badge pull-right">11</span></a>-->
                <!--<ul>-->
                  <!--<li><a href="category.html">T-shirts</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Skirts</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Pants</a>-->
                  <!--</li>-->
                  <!--<li><a href="category.html">Accessories</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->

            <!--</ul>-->

          <!--</div>-->
        <!--</div>-->

        <!--<div class="panel panel-default sidebar-menu">-->

          <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>-->
          <!--</div>-->

          <!--<div class="panel-body">-->

            <!--<form>-->
              <!--<div class="form-group">-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox">Armani (10)-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox">Versace (12)-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox">Carlo Bruni (15)-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox">Jack Honey (14)-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->

              <!--<button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>-->

            <!--</form>-->

          <!--</div>-->
        <!--</div>-->

        <!--<div class="panel panel-default sidebar-menu">-->

          <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>-->
          <!--</div>-->

          <!--<div class="panel-body">-->

            <!--<form>-->
              <!--<div class="form-group">-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox"> <span class="colour white"></span> White (14)-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox"> <span class="colour blue"></span> Blue (10)-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox"> <span class="colour green"></span> Green (20)-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox"> <span class="colour yellow"></span> Yellow (13)-->
                  <!--</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                  <!--<label>-->
                    <!--<input type="checkbox"> <span class="colour red"></span> Red (10)-->
                  <!--</label>-->
                <!--</div>-->
              <!--</div>-->

              <!--<button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>-->

            <!--</form>-->

          <!--</div>-->
        <!--</div>-->

      </div>

      <div class="col-md-12">

        <div class="row products ">

          <div class="col-md-3 col-sm-6" *ngFor="let product of productList$ | async">
            <div class="product">
              <div class="flip-container">
                <div class="flipper">
                  <div class="front">
                    <a [routerLink]="['/product', product.slug]">
                      <img [src]="product.image" alt="" class="img-responsive">
                    </a>
                  </div>
                  <div class="back">
                    <a [routerLink]="['/product', product.slug]">
                      <img [src]="product.image" alt="" class="img-responsive">
                    </a>
                  </div>
                </div>
              </div>
              <a [routerLink]="['/product', product.slug]" class="invisible">
                <img [src]="product.image" alt="" class="img-responsive">
              </a>
              <div class="text">
                <h3><a [routerLink]="['/product', product.slug]">{{product.title}}</a></h3>
                <p class="price">
                  <del *ngIf="product.price.percentage > 0">
                    ${{product.price.original}}
                  </del>
                  ${{product.price.discount}}
                </p>
                <p class="buttons">
                  <a [routerLink]="['/product', product.slug]" class="btn btn-default">View detail</a>
                  <a target="_blank" [routerLink]="['/buy', product._id]" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </p>
              </div>

              <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon -->

              <div class="ribbon sale" *ngIf="product.price.percentage > 0">
                <div class="theribbon">{{product.price.percentage}}% off</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon -->
            </div>
            <!-- /.product -->
          </div>
        </div>
        <!-- /.products -->

      </div>
      <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->


  <app-footer></app-footer>

</div>
